<FilesMatch "\.html$">
  Header set Cache-Control "no-cache, must-revalidate"
</FilesMatch>

<FilesMatch "\.(png|jpe?g|gif|svg|webp)$">
  Header set Cache-Control "no-cache, must-revalidate"
</FilesMatch>
